/* line 5, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Programm files/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/style.scss */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial, serif;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
}

/* line 20, ../sass/style.scss */
h1 {
  font-size: 4.2em;
}

/* line 24, ../sass/style.scss */
h3 {
  text-transform: uppercase;
  font-weight: 500;
}

/* line 29, ../sass/style.scss */
a {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 35, ../sass/style.scss */
body::-webkit-scrollbar {
  width: 1px;
}

/* line 39, ../sass/style.scss */
body::-webkit-scrollbar-thumb {
  background: #333;
}

/* line 43, ../sass/style.scss */
.btn {
  width: 215px;
  display: inline-block;
  height: 50px;
  line-height: calc(4rem - .4rem);
  text-align: center;
  letter-spacing: .13em;
  margin: 1.5rem 1.5rem 0 0;
  border: 2px solid #fff;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

/* line 55, ../sass/style.scss */
.bth--blanked {
  font-size: .8em;
}
/* line 57, ../sass/style.scss */
.bth--blanked:hover {
  color: #000;
  background-color: #fff;
}

/* line 64, ../sass/style.scss */
.heading--ligh:after {
  content: '';
  display: block;
  border: .5px solid #000;
  width: 70%;
  margin: 35px auto;
}

/* line 73, ../sass/style.scss */
.u-subheading-info {
  color: inherit;
  line-height: 2;
}

/* line 78, ../sass/style.scss */
.target-section {
  height: 100vh;
  width: 100%;
  background: url("http://godland.org/traineeship/images/portfolio/wallhaven.png") center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}
/* line 85, ../sass/style.scss */
.target-section .u-shadow-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 90, ../sass/style.scss */
.target-section .home-content {
  position: relative;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: unset;
  -moz-justify-content: unset;
  -ms-justify-content: unset;
  -o-justify-content: unset;
  justify-content: unset;
  -webkit-flex-direction: unset;
  -moz-flex-direction: unset;
  -ms-flex-direction: unset;
  -o-flex-direction: unset;
  flex-direction: unset;
}
/* line 96, ../sass/style.scss */
.target-section .home-content .home-content__main {
  width: 80%;
  margin: 0 auto;
}
/* line 99, ../sass/style.scss */
.target-section .home-content .home-content__main h3 {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: .13em;
  margin-bottom: 25px;
}
/* line 104, ../sass/style.scss */
.target-section .home-content .home-content__main .home-content__buttons {
  margin-top: 4.5em;
}

/* line 111, ../sass/style.scss */
.s-about {
  padding-top: 16.2rem;
  text-align: center;
}
/* line 114, ../sass/style.scss */
.s-about .l-s-about,
.s-about .s-about-content {
  width: 80%;
  margin: 0 auto;
}
/* line 118, ../sass/style.scss */
.s-about .l-s-about .s-about-stats,
.s-about .s-about-content .s-about-stats {
  max-width: 100%;
  padding-bottom: 16.2rem;
}
/* line 121, ../sass/style.scss */
.s-about .l-s-about .s-about-stats .stats__col,
.s-about .s-about-content .s-about-stats .stats__col {
  float: left;
  width: 25%;
}
/* line 124, ../sass/style.scss */
.s-about .l-s-about .s-about-stats .stats__col .stats__count,
.s-about .s-about-content .s-about-stats .stats__col .stats__count {
  font-size: 7em;
  font-weight: 800;
}
