@import "compass/reset";
@import 'variables.scss';
@import 'includes.scss';

* {
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: Montserrat, Arial, serif;
	font-weight: 400;
	font-size: ($initSize) + px;
	width: 100%;
}

h1 {
	font-size: 4.2em;
}

h3 {
	text-transform: uppercase;
	font-weight: 500;
}

a {
	color: inherit;
	text-transform: uppercase;
	text-decoration: none;
}

body::-webkit-scrollbar {
    width: 1px;
}

body::-webkit-scrollbar-thumb {
    background: #333; 
}

.btn {
	width: 215px;
	display: inline-block;
	height: 50px;
	line-height: calc(4rem - .4rem);
	text-align: center;
	letter-spacing: .13em;
	margin: 1.5rem 1.5rem 0 0;
	border: 2px solid #fff;
	@include initTransition(400ms);
}

.bth--blanked {
	font-size: .8em;
	&:hover {
		color: #000;
		background-color: #fff;
	}
}

.heading--ligh {
	&:after {
		content: '';
		display: block;
		border: .5px solid #000;
		width: 70%;
		margin: 35px auto;
	}
}

.u-subheading-info {
	color: inherit;
	line-height: 2;
}

.target-section {
	height: 100vh;
	width: 100%;
	background: url('http://godland.org/traineeship/images/portfolio/wallhaven.png') center;
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
	.u-shadow-overlay {
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,.6);
	}
	.home-content {
		position: relative;
		height: 100%;
		width: 80%;
		margin: 0 auto;
		@include initDisplay(flex, center, unset, unset);
		.home-content__main {
			width: 80%;
			margin: 0 auto;
			h3 {
				color: rgba(255, 255, 255, 0.5);
				letter-spacing: .13em;
				margin-bottom: 25px;
			}
			.home-content__buttons {
				margin-top: 4.5em;
			}
		}
	}
}

.s-about {
	padding-top: 16.2rem;
	text-align: center;
	.l-s-about,
	.s-about-content {
		width: 80%;
		margin: 0 auto;
		.s-about-stats {
			max-width: 100%;
			padding-bottom: 16.2rem;
			.stats__col {
				float: left;
				width: 25%;
				.stats__count {
					font-size: 7em;
					font-weight: 800;
				}
			}
		}
	}
}