@import "compass/reset";
@import 'variables.scss';
@import 'includes.scss';

* {
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: Montserrat, Arial, serif;
	font-weight: 400;
	font-size: ($initSize) + px;
	height: 100%;
	width: 100%;
}